body{
    background: #222222;
    color: white;
}

ul{
    list-style: none;
}

li{
    margin-top: 0.5vw;
}

a{
    color: white;
}

.title{
    width: 35vw;
    margin-top: 3vw;
    margin-left: 36.5vw;
    font-size: 0.8vw;
}

.items{
    background: #333333;
    width: 35vw;
    height: 6.5vw;
    margin: 0 auto;
    margin-top: 3vw;
    padding-top: 0.1vw;
    text-align: center;
    border-radius: 1.5vw;
    font-size: 1.2vw;
}